body {
    background-color: #f1f0f5;
    color: #333;
}

.menuBarContainer {
    background-color: indigo !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    color: #fff !important;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #000 !important;
}

.navbar-nav .dropdown-menu .dropdown-item.active,
.navbar-nav .nav-link.active {
    background-color: indigo !important;
    color: white !important;
}

.container {
    margin-top: 30px;
}

h2 {
    color: indigo;
    font-size: 28px;
    text-align: center;
}

label {
    color: indigo;
}

.form-control {
    border-color: indigo;
}

button[type="submit"] {
    background-color: indigo;
    border-color: indigo;
    color: #fff;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #3a3a7d;
    border-color: #3a3a7d;
}
#wykres {
    width: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    width: 300px;
    height: 300px;
    margin: 0 10px;
}
/* Styl dla kolumn */
.styled-column {
    text-align: center;
}

/* Styl dla zawartości */
.styled-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styl dla nagłówka */
.styled-header {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styl dla kwoty */
.styled-amount {
    font-size: 36px;
    color: #007bff;
}

/* Styl dla przycisków */
.styled-button {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #0056b3;
}
